name: 'Test README links'

on:
  push:
    branches:
      - main
      - gh-pages
  workflow_call:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:

  test-readme-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check README links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          folder-path: .
          max-depth: 1
          use-verbose-mode: yes
          config-file: .github/link-check-config.json
